.bar {
    list-style-type: none;
    padding-inline-start: 10px;
}

.element {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.para {
    margin-bottom: 0em;
    margin-left: 15px;
}

.title {
    margin: 10px 0 25px 0;
    font-weight: bold;
    display: flex;
    justify-content: center;
}