.wrapper {
    border-width: 1px solid black;
    border-radius: 5px;
    margin-bottom: 50px;
}

.customLink {
    text-decoration-line: none;
}

.title {
    color: rgb(51, 107, 109) !important;
    font-weight: bold;
}